.button {
  border: none;
  background: none;
  text-align: center;

  &--transparent {
    width: 100%;
    display: block;

    border: solid 3px #ffffff;
    padding: 20px 40px 17px 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 40px;
  }
}
