.container {
  width: 100%;
  padding: 21px;
}

@media (min-width: $tablet-width) {
  .container {
    margin: 0 auto;
    width: $tablet-width;

  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}
