.intro {
  margin-top: -66px;
  // z-index: -1;

  color: #ffffff;

  background-image: url("/img/iphone-hand-mobile@1x.png"),
    url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: bottom, auto;

  &--main {
    padding-top: 462px;
  }
}

// .intro--main .intro__wrapper {
//   position: relative;

//   &::before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-image: url("/img/iphone-hand-mobile@1x.png");
//     background-repeat: no-repeat;
//     top: 0;
//     left: 0;
//     transform: translateY(-95%);
//   }
// }


.intro__wrapper {
  width: 100%;
  padding: 22px;

  text-align: center;

  background-color: rgb(29, 38, 49);
}

.intro__title {
  display: none;
}

.intro__apps {
  @include reset-ul();
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 205px;
  margin: 0 auto;
  padding: 30px 0;


}

.intro__link {
  display: inline-flex;
}

.intro__app {
  display: inline-flex;
}

.intro__note {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
