.slider {

}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 56px;
  max-width: 60px;
  margin: 0 auto;
}

.slider__toggle {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.slider__label {
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  background: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  display: block;
}


input#rate-1:checked:focus ~ div label:nth-of-type(1) {
  background: transparent;
  border: solid 3px #283645;
}

input#rate-2:checked:focus ~ div label:nth-of-type(2) {
  background: transparent;
  border: solid 3px #283645;
}

input#rate-3:checked:focus ~ div label:nth-of-type(3) {
  background: transparent;
  border: solid 3px #283645;
}

 input#rate-2:checked ~ div .rates__table {
  transform: translateX(-33%);
}

 input#rate-3:checked ~ div .rates__table {
  transform: translateX(-66%);
}
